/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *	NO = require_tree .
 *	NO = require_self
 */


div.table {
	display: table;
	width: 100%;
	> .row {
		display: table-row;
		> div {
			display: table-cell;
			border: 1px solid silver;
			vertical-align: top;
			text-align: center;
		}
	}
}

tr:nth-child(2n)   { background-color: #FCF9EF; }
tr:nth-child(2n+1) { background-color: #F5F1E8; }






.facets {
	border: 1px solid silver;
	border-top: 0;
	div.facet_toggle {
		display:block;
		padding: 5px;
		border-top: 1px solid silver;
		border-left: 1px solid silver;
		background-color:#EEE;
		text-align: left;
		* {
			vertical-align:middle;
		}
		span {
			display: inline-block;
			padding-right:5px;
		}
		a {
/*			display:inline-block; 
	inline-block makes long lines that wrap around start on a new line.
	inline keeps them on the same line as the arrow
*/
			display:inline;
			text-align: left;
		}
	}
	div.facet_field {
		display:none;
		margin-left: 5px;
		ul {
			padding-left: 35px;
		/* I want a 10px padding, but also want the wordwrap indented 
			further. so large padding and negative indent */
			li {
				list-style: none;
				text-align: left;
				text-indent: -30px;
				label {
					padding-left: 5px;
				}
			}
		}
	}
}



#refine {
	min-width: 300px;
	/* still don't understand why, but when min-width is used, the facet column flickers too wide for a second when toggling? */
	/* interestingly, having both width and min-width seems to do exactly what I want without flicker.  Yay */
	width: 400px;
	border-right: 2px solid silver;
	padding: 0 10px;
	form input[type=submit] {
		font-size:14pt;
		font-weight:bold;
		border: 1px solid black;
		width: 100%;
		margin: 10px 0;

		/* http://css-radius.heroku.com */
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;

		background-color: #DDDDDD;
		/* for webkit browsers */
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#BBBBBB)); 
		/* for firefox 3.6+  */
		background-image: -moz-linear-gradient(top,  #FFFFFF,  #BBBBBB); 
		/* for ie , but doesn't seem to work as expected despite other examples working */
		filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#FFFFFF', EndColorStr='#BBBBBB');
	}
}


#results {
	padding: 0 10px;
	background-color: #FFF;
}

#filters {
	padding: 0 10px;
	border: 1px solid gray;
	h3 {
		margin-top:0;
		padding-top:10px;
	}
}


